github_ci_example.png filter=lfs diff=lfs merge=lfs -text
debugging_multi_gpu_job.mp4 filter=lfs diff=lfs merge=lfs -text
tensorboard_torch_profiler.png filter=lfs diff=lfs merge=lfs -text
github_qr_code.png filter=lfs diff=lfs merge=lfs -text
QR_Code_Slido.png filter=lfs diff=lfs merge=lfs -text
images/slide34_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide04_pic05.png filter=lfs diff=lfs merge=lfs -text
images/slide05_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide18_pic14.png filter=lfs diff=lfs merge=lfs -text
images/slide20_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide42_pic07.png filter=lfs diff=lfs merge=lfs -text
images/slide32_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide33_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide36_pic01.png filter=lfs diff=lfs merge=lfs -text
images/slide37_pic01.png filter=lfs diff=lfs merge=lfs -text
images/slide34_pic00.png filter=lfs diff=lfs merge=lfs -text
images/slide35_pic00.png filter=lfs diff=lfs merge=lfs -text
images/slide04_pic06.png filter=lfs diff=lfs merge=lfs -text
images/slide06_pic01.png filter=lfs diff=lfs merge=lfs -text
images/slide06_pic05.png filter=lfs diff=lfs merge=lfs -text
images/slide27_pic04.png filter=lfs diff=lfs merge=lfs -text
images/slide04_pic04.png filter=lfs diff=lfs merge=lfs -text
images/slide05_pic05.png filter=lfs diff=lfs merge=lfs -text
images/slide22_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide29_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide08_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide35_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide30_pic01.png filter=lfs diff=lfs merge=lfs -text
images/slide03_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide12_pic04.jpg filter=lfs diff=lfs merge=lfs -text
images/slide21_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide28_pic03.png filter=lfs diff=lfs merge=lfs -text
images/slide06_pic04.png filter=lfs diff=lfs merge=lfs -text
images/slide07_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide31_pic01.png filter=lfs diff=lfs merge=lfs -text
images/slide06_pic06.png filter=lfs diff=lfs merge=lfs -text
images/slide38_pic02.png filter=lfs diff=lfs merge=lfs -text
images/slide42_pic06.png filter=lfs diff=lfs merge=lfs -text
images/github_qr_code.png filter=lfs diff=lfs merge=lfs -text
images/QR_Code_Slido.png filter=lfs diff=lfs merge=lfs -text
images/tensorboard_torch_profiler.png filter=lfs diff=lfs merge=lfs -text
images/uv.png filter=lfs diff=lfs merge=lfs -text
images/github_ci_example.png filter=lfs diff=lfs merge=lfs -text
images/portrait-of-hugo-larochelle.png.webp filter=lfs diff=lfs merge=lfs -text
images/cluster_archmage.jpeg filter=lfs diff=lfs merge=lfs -text
